<!-- <%= image_tag( "https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2019/08/google-play-store-apps-malware-796x450.jpg") %> -->

<div class="input-post-wrapper" >
    <div class="post-form-wrapper">
        <h1 class="text-center text-uppercase" >post incredible art in armenia</h1>
        <%= form_with(url: "/post", method: "get") do %>
            <div class="d-flex flex-column" >
                <%= label_tag(:q, "Art name") %>
                <%= text_field_tag 'art-name', nil, placeholder: 'Enter art name', class: "" %>
            </div>
            <!--  <%= submit_tag("Search") %> -->
        <% end %>
    </div>
</div>