<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="m-auto w-50 m-3 pb-2" >
      <%= label_tag(:for_art_name, "Art name", id: "asd") %>
      <%= form.text_field :art_title, placeholder: 'Enter art name', class: "form-control art-post-input  ", id: "for_art_name" %>
  </div>
  <div class="m-auto w-50 m-3" >
      <%= label_tag(:for_art_place, "Art place") %>
      <%= form.text_field :posts_content, placeholder: 'Enter art place', class: "form-control art-post-input ", id: "for_art_place" %>
  </div>

  <%= form.file_field :post_image, class: "sign-up-button w-25 p-2 d-flex justify-content-center"%>

  <div class="d-flex justify-content-center actions m-5 ">
    <%= form.submit class: "sign-up-button w-25 p-2 "%>
  </div>

  <div class="form-group">
  <%= form.label :street %><br/>
  <%= form.text_field :street, autofocus: true%>
</div>

<div class="form-group">
  <%= form.label :city %><br/>
  <%= form.text_field :city, autofocus: true%>
</div>

<div class="form-group">
  <%= form.label :zip %><br/>
  <%= form.text_field :zip, autofocus: true%>
</div>
<% end %>

