<div class="show-background-wrapper p-5">
<div class="show-posts-wrapper">
<h1 class='ml-5'><%= @post.posts_content %></h1>
<h1 class='ml-5'><%= @post.art_title %></h1>
<h1 class='ml-5'><%= @post.city %></h1>
<h1 class='ml-5'><%= @post.street %></h1>
<h1 class='ml-5'><%= @post.zip %></h1>

<%= image_tag post_image(@post), size: '400x400', class: 'd-block ml-5' %> 

<div id="map" style="height:400px; width:600px;"><%=
    map(:center => {
    :latlng => [@post.latitude, @post.longitude],
    :zoom => 18
    },
    :markers => [{
    :latlng => [@post.latitude, @post.longitude],
    :zoom => 18
    }])
%>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to '< Back', posts_path %>
</div>
</div>
