<%= link_to '< Home', root_path, class: "ml-5" %>

<div class='container mt-5'>
    <div class="d-flex" >
        <div class="left-side mr-5" >
            <div class="show-posts-wrapper  flex-column">
                <%= image_tag post_image(@post), size: '400x400', class: 'd-block ml-5' %> 
                <h1 class='ml-5'><%= @post.art_title %></h1>
                <p class='ml-5'><b>City:</b> <%= @post.city %></p>
                <p class='ml-5'><b>Street:</b> <%= @post.street %></p>
                <p class='ml-5'><b>ZIP:</b> <%= @post.zip %></p>
            </div>
        </div>
        <div class="right-side" >
            <div id="map" style="height:400px; width:600px;"><%=
                map(:center => {
                :latlng => [@post.latitude, @post.longitude],
                :zoom => 18
                },
                :markers => [{
                :latlng => [@post.latitude, @post.longitude],
                :zoom => 18
                }])
            %>
        </div>
        </div>
    </div>
</div>
