<!DOCTYPE html>
<html>
  <head>
    <title>Pubic Art in Armenia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="asd" >
    <div class="d-flex main-page-wraper" >
      <div class="w-25 navigation-wrapper" >
        <%= render "layouts/header" %>
      </div>
      <div class="w-100 main-content-wrapper" >
        <%= yield %>
      </div>
    </div>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

  </body>
</html>
